<web-app>
     <servlet>
           <servlet-name>myfirstservlet</servlet-name>
           <servlet-class>myfirstservlet</servlet-class>
     </servlet>
     <servlet-mapping>
             <servlet-name>myfirstservlet</servlet-name>
             <url-pattern>/myfirstservlet</url-pattern>
     </servlet-mapping>
</web-app>